<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="tdsProxy" type="TDSProxy.Configuration.TdsProxySection,TDSProxy" allowDefinition="Everywhere"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
	</appSettings>
	<tdsProxy xmlns="http://schemas.techsoftinc.com/TDSProxy/1.0">
		<listeners>
			<add name="proxy" listenOnPort="1433" forwardToHost="192.168.122.69" forwardToPort="1433" sslCertStoreName="My" sslCertStoreLocation="CurrentUser" sslCertSubjectThumbprint="e87bb9d5b388f38eea24ff2fbb7d97b56b5fb49a" authenticatorDll="SampleAuthenticator.dll" authenticatorClass="SampleAuthenticator.SampleAuthenticator"/>
		</listeners>
	</tdsProxy>
</configuration>
